
*~
*#
__pycache__
*.tmp
.#*
*.pyc
*.aux
*.dvi
*.log
*.c
build
*.so
dist
MANIFEST
*.backup
*.egg-info
doc/source/generated
doc/source/*/generated
doc/source/examples/*_files/*
doc/source/*/*_files/*
doc/_build
ENV
*.hdf5
.env*
.ipynb_checkpoints

# temp files
.DS_Store
*.swp

# test artifacts
/.coverage
result_images
.coverage
