language: python
python:
  - "3.2"
  - "3.3"
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install cython numpy scipy matplotlib h5py
# command to run tests, e.g. python setup.py test
script:  nosetests