include README*
include INSTALL*
include LICENSE

# Include header files
recursive-include bayespy *.h

# Add documentation to sdist-generated tarballs
recursive-include doc/source *.rst
recursive-include doc/source *.py
include doc/Makefile
#include doc/make.bat
