[project]
	description = Bayesian Python: Bayesian inference tools for Python
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jaakko Luttinen (jluttine)
[access "refs/for/refs/*"]
	read = group user/Jaakko Luttinen (jluttine)
	push = group user/Jaakko Luttinen (jluttine)
	label-Code-Review = -2..+2 group user/Jaakko Luttinen (jluttine)
	label-Verified = -1..+1 group user/Jaakko Luttinen (jluttine)
	rebase = group user/Jaakko Luttinen (jluttine)
	removeReviewer = group user/Jaakko Luttinen (jluttine)
	submit = group user/Jaakko Luttinen (jluttine)
[access "refs/heads/*"]
	read = group user/Jaakko Luttinen (jluttine)
	create = group user/Jaakko Luttinen (jluttine)
	push = +force group user/Jaakko Luttinen (jluttine)
	pushMerge = group user/Jaakko Luttinen (jluttine)
[access "refs/tags/*"]
	push = +force group user/Jaakko Luttinen (jluttine)
	pushTag = group user/Jaakko Luttinen (jluttine)
	pushSignedTag = group user/Jaakko Luttinen (jluttine)
