-e git+https://github.com/jluttine/bayespy.git@25a7e12280491ae2ce89d43eae84571410292ea2#egg=BayesPy-dev
Cython==0.17b4
Jinja2==2.6
Pygments==1.5
Sphinx==1.1.3
distribute==0.6.24
docutils==0.10
ipython==0.13.1
matplotlib==1.2.0rc3
numpy==1.7.0rc1
-e git+https://github.com/jluttine/scikits-sparse.git@4c51471326d118a93d2f26f7540063e3d3965599#egg=scikits.sparse-dev
scipy==0.11.0rc2
wsgiref==0.1.2
